# Snow-blower
!secrets/.env*
.sb*
secrets.nix

# pre-commit
.pre-commit-config.yaml

# direnv
.direnv

.idea
.phpunit.result.cache
build
composer.lock
coverage
docs
vendor
node_modules
.phpunit.cache
.php-cs-fixer.cache
